body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.quill>.ql-toolbar:first-child {
  display: none !important;
}

#res {
  white-space: pre;
}

.ql-editor {
  white-space: normal;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
  content: '14px';
  font-size: 14px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: '16px';
  font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content: '18px';
  font-size: 18px !important;
}

label {
  width: 100%;
  text-align: left;
}

.blog-poster-image {
  width: 100%;
  height: 300px;
  padding-top: 5px;
  padding-bottom: 25px;
}

.blog-title {
  font-size: 30px;
  font-weight: 700;
  padding-top: 25px;
  padding-bottom: 25px;
}

.blog-poster-image {
  width: 100%;
  height: 300px;
  padding-top: 5px;
  padding-bottom: 25px;
}

.blog-list-title {
  font-size: 16px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
}

.blog-list-description {
  text-align: justify;
  font-size: 14px;
}

.blog-list-inner-card {
  margin: 4px;
  margin-top: -26px;
}

.blog-content {
  text-align: justify;
}

.poster-list-image {
  height: 175px;
  width: 100%;
  object-fit: cover;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card {
  height: 100%;
}

.input-count-text { 
  text-align: right;
  font-size: 11px;
  color: gray;
}